:root {
    --primary-brand: #4D5AE5;
    --pressed-state: #404BBF;
    --dark: #2E2F42;
    --success: #31D0AA;
    --text: #434455;
    --subtle-text: #8E8F99;;
    --accent: #E7E9FC;
    --Light: #F4F4FD;
    --modal-overlay: rgba(46, 47, 66, 0.4);
    --hero-bg: #2E2F42;
    --white-bg: #ffffff;
    --modal-bg: #FCFCFC;

}

body {
    font-family: "Roboto", sans-serif;
    color: var(--text);
    background-color: var(--white-bg)
    
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.link {
    text-decoration: none;
}

.list {
    display: inline-flex;
    gap: 24px;
}
/* header------------ */

.header{
    padding-top: 24px;
    padding-bottom: 24px;
}

.link:is(:hover, :focus) {
    color: var(--pressed-state)
}

.container{
    width: 100%;
    max-width: 1140px;
    padding-left: 156px;
    padding-right: 156px;
    margin: 0 auto;

}

.header-container{
    display: flex;
    align-items: center;

}

.header-nav{
    display: flex;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: flex;
    align-items: center;

}

.header-logo-dark {
    color: var(--dark);
    padding-right: 76px;
}

.header-menu{
    display: flex;
    gap: 40px;
}

.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark);
}

.address {
    font-style: normal;
    padding-left: 332px;
}

.address-list{
    display: flex;
    gap: 40px
}

.address-list-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
}

/* --------main--------------- */

/** hero---- */
.hero {
    background-color: var(--hero-bg);
}

.hero-container{
    background-color: var(--hero-bg);
}

.hero-container .container{
    display: flex;
}
.hero-title{
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white-bg);
    padding-top: 188px;
    padding-bottom: 48px;
    text-align: center;
}

.hero-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-bg);
    background: #4d5ae5;
    margin-bottom: 188px;
    padding: 16px 32px;
    margin-top: 48px;
}

.button-active:is(:hover, :focus) {
    background: #404bbf;
    color: var(--white-bg);
}

.button-active {
    cursor: pointer;
}

/** points---- */

.section2-container{
    
}
.points-list-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
    padding-top: 120px;
    padding-bottom: 8px;
}

.points-list-item-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-bottom: 120px;
}

/** doing---- */
.doing-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
    text-align: center;
}

.doing-list-item{
    padding-bottom: 120px;
    padding-top: 72px;
}
/** our team---- */

.section4-container{
}
.team {
    background-color: var(--Light);
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);
    text-align: center;
    padding-top: 120px;
}

.team-list-item {
    background-color: var(--white-bg);
    margin-top: 72px;
    margin-bottom: 120px;
}

.team-card{
    margin-top: 32px;
    margin-bottom: 32px;
    text-align: center;
}
.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
    padding-bottom: 8px;
}

.team-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 32px;
}

/* main portfolio---------------- */

/** button list--- */
.button-list-item {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--primary-brand);
    background: var(--Light);
    padding: 12px 24px;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
}

/* portfolio list----- */

.portfolio-link:nth-child(.portfolio-link:nth-child(odd)){
    margin-bottom: 120px;
}
.portfolio-link-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);
}

.portfolio-link-paragraph {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text);
}

/* footer--------------------- */
.footer {
    background-color: var(--hero-bg);
}

.footer-logo-white {
    color: var(--Light);
}

.footer-container{
    padding-top: 101.5px;
}
.footer-paragraph {
    width: 264px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--Light);
    padding-top: 17.5px;
    padding-bottom: 100px;
}


.p2-hero-container .container{
    gap: 24px;
    display: flex;
}

.portfolio-list{
    padding-bottom: 120px;
}

.p2-hero-container{
    margin-top: 96px;
    margin-bottom: 72px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}